body{
    font-family: Roboto;
    display: flex;
    justify-content: center;
    background-color: lightgray;
}

.container{
    background-color: white;
    width: 457px;
    height: 138px;
    /* border: 1px solid black; */
}

.content{
    display: flex;
    margin: 4px;
}

.pfp{
    /* width: 30%; */
    /* padding: 15px 0px 3px 6px; */
    /* border: 1px solid red; */
}

.profile-img{
    width: 130px;
    height: 130px;
}

.desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 10px; */
    padding-left: 14px;
    /* border: 1px solid red; */
}

.comment{
    padding-top: 14px;
    padding-bottom: 24px;
}

.stats{
    /* padding-top: 10px; */
    display: flex;
    gap: 24px;
    color: #858991;
    font-size: 15px;
    font-weight: medium;
}

.stat-metric{
    display: flex;
    gap: 10px;
}

.metric-img{
    width: 20px
}

.username{
    font-weight: bold;
}